/* background 1 */
.horizon {
  background-color: transparent; 
  background-image: 
    radial-gradient(at 0% 0%, #FF69B4 0px, transparent 50%),
    radial-gradient(at 100% 100%, #FFD700 0px, transparent 50%), 
    linear-gradient(to bottom right, #FF69B4, #53e4e2);
  height: 100vh;
  width: 100%;
}



.teamwork{
  /* background-image:url('./media/concept/teamwork.png'); */
  background-image:url('./media/concept/teamwork1.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}