/* background 1 */
.horizon {
  background-color: transparent; 
  background-image: 
    radial-gradient(at 0% 0%, #FF69B4 0px, transparent 50%),
    radial-gradient(at 100% 100%, #FFD700 0px, transparent 50%), 
    linear-gradient(to bottom right, #FF69B4, #53e4e2);
  width: 100%;
}


.background-overlay {
  background:#818080;
  background-blend-mode: multiply;

}

.teamwork{
  /* background-image:url('./media/concept/teamwork.png'); */
  background-image:url('./media/concept/teamwork1.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

}
.splash{
  /* background-image:url('./media/concept/teamwork.png'); */
  background-image:url('./media/concept/splash.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.cloud-bg{
  height:100%;
  width:100%;
}

/* concept backgrounds */
.glass-card {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
    color: white; /* For content inside the glass element */
    text-align: center;
    width: 100%;
    height: 100%;
}

.frustrated{
  background-image:url('./media/concept/frustrated.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0;
}
.white-dress{
  background-image:url('./media/concept/white-dress.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
}
.bridge{
  background-image:url('./media/concept/bridge.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0px;
}
.stones{
  background-image:url('./media/concept/stones.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */

}
.stones-rev {
  background-image:url('./media/concept/stones-rev.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

.rocks {
  background-image:url('./media/concept/rocks.jpg');
  background-color:#c0c0c0;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

.bluesky {
  background-image:url('./media/concept/bluesky.png');
  background-color:unset !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}
.sundown {
  background-image:url('./media/concept/sundown.jpg');
  background-color:unset !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

