/* background 1 */
.horizon {
  background-color: transparent; 
  background-image: 
    radial-gradient(at 0% 0%, #FF69B4 0px, transparent 50%),
    radial-gradient(at 100% 100%, #FFD700 0px, transparent 50%), 
    linear-gradient(to bottom right, #FF69B4, #53e4e2);
  width: 100%;
}


.background-overlay {
  background:#818080;
  background-blend-mode: multiply;

}

.teamwork{
  /* background-image:url('./media/concept/teamwork.png'); */
  background-image:url('./media/concept/teamwork1.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

}
.splash{
  /* background-image:url('./media/concept/teamwork.png'); */
  background-image:url('./media/concept/splash.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}


/* concept backgrounds */


.frustrated{
  background-image:url('./media/concept/frustrated.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0;
}
.white-dress{
  background-image:url('./media/concept/white-dress.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
}
.bridge{
  background-image:url('./media/concept/bridge.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0px;
}
.stones{
  background-image:url('./media/concept/stones.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */

}
.stones-rev {
  background-image:url('./media/concept/stones-rev.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

.rocks {
  background-image:url('./media/concept/rocks.jpg');
  background-color:#c0c0c0;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

.bluesky {
  background-image:url('./media/concept/bluesky.png');
  background-color:unset !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}
.sundown {
  background-image:url('./media/concept/sundown.jpg');
  background-color:unset !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
}

