.problem-col {
    height:100%;
    border:3px solid red;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: right;
    justify-items: center;
    background:#ffffff9d;
}

#problem {
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.problem-hr {
    width:25%;
    height:1.5px;
    background:var(--bg-secondary);
    border:none;
}
.problem-para{
width:100%;
font-size:18pt;
}