*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
#hr-primary {
    /* background:rgb(125, 237, 14); */
    background:transparent;
    pointer-events: none;
    height: 5px;
    width:100%;
    position:fixed;
    bottom:0;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./font/Merriweather-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
    font-family: 'Merriweather-italic';
    src: url('./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf');
}

/* background  colors */
:root{
    --bg-primary:lightblue;
    --bg-secondary:#F8FD89 ;
    --bg-tertiary:#f00;
    --bg-tint:#fff;
    --bg-shade:#000;
    --bg-slogan:#464f58d4;
    --bg-description:#464f5879;
    --bg-services:rgba(31, 38, 135, 0.37);
}

/* colors */
:root{
    --col-primary:#000;
    --col-secondary:#fff;
    --col-tertiary:var(--bg-secondary);
    --col-subheader:#ff98ff;
}
/* fonts */
:root {
    --font-header:'Merriweather',Arial, Helvetica, sans-serif;
    --font-header-italic:'Merriweather-italic', Arial, Helvetica, sans-serif !important;
    --font-secondary:Arial, Helvetica, sans-serif;
}
.c {
    display:none;
}
body{
    background-color:var(--bg-primary);
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
#logo-link{
    display:flex;
    align-items:start;
    justify-content: start;
    transform:Scale(.88);
    flex-direction: column;
}
#logo-link.underline{
    border-bottom:1px solid yellow;
}
#logo-link>img{
        margin-top:.5rem;
        height:80px;
        width:140px;
        /* box-shadow:0 5px 8px .014px var(--bg-secondary); */
    }
    #logo-link>em {
        font-size:21pt;
        color:var(--col-subheader);
        margin-left:.5rem;
    }

    #counsel {
        transform:translate(0,3.5px) !important;
        height:60px !important;
        width:200px !important;
}

.disable-highlight,
.nav-mobile-list-link,
.nav-list-item > a{
      -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

main{
    height:100%;
    width:100%;
    /* border:4px solid var(--bg-secondary); */
}

#home{
    display:flex;
    flex-direction:column;
    align-items: end;
    padding:0 .75rem;
    justify-content: end;
    opacity:1 !important;
    margin-top:8rem;
}
.section-gen{
    transition:.5s;
    height:100%;
    width:100%;
    overflow: hidden;
    position:relative;
    margin-top:.95rem;
    opacity:0;
}
.hide-element{
    display:none !important;
}
.appear-section {
  opacity:1;
}


#cover-phrase-container{
    width:60%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding:1rem;
    height:100%;
    /* border:2px solid red; */
}
#cover-phrase{
    color:#fff;
    z-index: 998;
    font-size:36pt;
    min-width:300px;
    max-width:700px;
    text-align: right;
    font-family:var(--font-header);
    letter-spacing:.95px;
    margin-bottom:5rem;
}
#cover-phrase>p{
    display:inline;
}

.italic-word {
    font-size:55px;
    color:var(--col-tertiary);
    font-family: var(--font-header-italic)
}
.pink-txt{
    color:var(--col-subheader) !important;
}
footer,header{
    min-height:85px;
    max-height:100%;
    width:100%;
    background:#000;
    overflow:hidden;
}
header{
    position:fixed;
    z-index:999;
    left:0;
}
footer{
    min-height:150px;
}
/* ---------------- learn more ---------------- */
.learn-more {
    text-decoration:underline;
    text-decoration-thickness: .25px;
    text-decoration-line:underline;
    padding:.75rem 1.25rem;
    border-radius: 16px;
    background:var(--col-tertiary);
    border:none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family:var(--font-header);
    font-size:21pt;
    border:none;
    position:absolute;
    color:var(--col-primary);
    transition:.25s;
}
.learn-more-config{
    top:75%;
    left:100px;
    display:inline;
}
.learn-more:hover{
    background:#333;
    color:var(--col-secondary)
}
/* ---------------- learn more ---------------- */



/* ---------------- header/navigation ---------------- */
#nav{
    width:50%;
    height:75px;
    /* border:2px solid red; */
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right:.25rem;
    right:0;
    bottom:8px;
}
#nav-mobile {
    display:none;
}
#hamburger-container{
    display:none;
}
#nav > #nav-list-container{
    width:100%;
    display:flex;
    justify-content: end;
    align-items: end;
    padding: 0 0 .5rem 0;
    /* border:2px solid red; */
}
.nav-list-item>a{
    padding:.5rem .55rem;
    margin-left:5px;
    background:transparent;
    font-family:var(--font-secondary);
    color:var(--col-secondary);
    font-weight:bold;
    font-size:12pt;
}
#nav-mobile-list-container>a[href="#deals"],#nav-mobile-list-container>a[href="#problem"]{
    /* background:red !important; */
    padding:0;
}
.nav-mobile-list-item>a[href="#deals"],.nav-mobile-list-item>a[href="#problem"]{
    background:yellow !important;
}
.target-link{
    border-bottom:5px solid var(--bg-secondary);
}
/* ---------------- header/navigation ---------------- */



/* ---------------- attention getter ---------------- */
/* profile image */

#img-pro{
    transition:.5s;
    position:absolute;
    top:88px;
    left:0;
    height:350px;
    width:270px;
    z-index: 997;
    border-radius: 50%;
    /* border:.5rem solid var(--col-tertiary); */
    box-shadow: 0 1.25px 12px .9px var(--bg-secondary);
}
.slogan-actual-top,
.slogan-actual-bottom{
    width:100%;
    position:absolute;
    left:0;
    padding:.75rem .5rem;
    font-size:18pt;
    letter-spacing:1.5px;
    color:#fff;
    font-weight: bold;
    /* z-index: 997; */
    border-bottom:none;
    background-image:linear-gradient(100deg,#3537435a,var(--bg-slogan),#4c575e75);
    font-family:var(--font-header-italic)
}
.slogan-actual-bottom{
    bottom:0;
    border-top:.5px solid #fff;
    text-align: left;
}
.slogan-actual-top{
    top:0;
    /* border-bottom:.5px solid #fff; */
    text-align: right;
}


/* certification */
#cert {
    color:var(--col-secondary);
    text-align: right;
    text-shadow: .25px .25px rgb(0, 0, 0);
    font-family: var(--font-header-italic);

}#certification{
    margin-bottom:3rem;
    letter-spacing: 1.15px;
    font-size:11pt;
    width:50%;
    min-width:200px;
}


/* icons */
.learn-more-config > img {
    height:25px;
    width:25px;
    float:right;
    margin-top:4px;
    margin-left:8px;
}


/* --------------------------------------- Sections in detail --------------------------------------- */

/* columns within section
 */
 #problem {
flex-direction: column;
align-items: end;
justify-content: center;
}
.flex-method{
    align-items: start;
    justify-content: end;
}

.section-header {
}
.section-subheader {

}

.alone,.take-action,.servicing {
    /* border:2px solid green; */
    display:flex;
    width:100%;
    align-items: end;
    color:var(--col-secondary);
    gap:1rem;
    padding:0 .75rem;
}
.servicing{
    padding:.5rem .75rem !important;
    justify-content: end;
}
.alone{
    position:absolute;
    bottom:10%;
    right:5px;
    justify-content: end;
}
.take-action{
    top:0;
    left:5px;
    justify-content: start;
}

.section-subheader>h2 {
font-size:32pt;
font-family: var(--font-header);
transition: .5s;
}
.no-background{
background:none !important;
}
.border-top {
    border-top:.5px solid var(--col-secondary);
}
.b{
    border-top:.5px solid #fff;
}
.section-col{
    overflow:hidden;
    height:100%;
    width:50%;
    padding:.75rem .5rem;
    position:relative;
}

.text-align-center{
    text-align: center !important;
    margin-top:2rem;
}
.section-col>.description{
    height:100%;
    width:100%;
}
.section-col>.description>p {
    font-size:16pt;
    color:var(--col-secondary);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height:.3in;
}


#problem > .section-col{
    width:59%;
    background:var(--bg-description);
}
#services{
    display:flex;
    flex-direction: column;
    background-color:var(--bg-services);
}
#services>#column-container{
    height:100%;
    width:100%;
    /* border:2px solid red; */
}
#services > #column-container > .section-col{
    width:100%;
}

/* --------------------------------------- Sections in detail --------------------------------------- */







/* --------------------------------------- cloud --------------------------------------- */

.cloud-container {
  position: relative; /* Essential for positioning the cloud parts */
  border-bottom:.25px solid var(--bg-description);
  /* height: 50%; */
  padding:.75rem 0;
  width:100%;
  display:flex;
  align-items: start;
  flex-wrap:wrap;
  justify-content: center;
  overflow-x:scroll;
  overflow-y:hidden;
  gap:.5rem;
}
.cloud>p {
    z-index:999;
    width:185px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.cloud {
        border-bottom: .75rem solid white;
        border-left: .75vw solid transparent;
        border-right: .75vw solid transparent;
    background-image: linear-gradient(180deg,transparent 25%, white );
  border-radius:75px; /* Creates the main rounded base */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
  display:flex;
  align-items: end;
  text-align: center;
  justify-content: center;
  padding:.25rem;
  font-family: var(--font-header);
  height: 75px;
  transition:1.5s;
}
.blink-left{
  animation: blinkcloud-left 1.5s infinite alternate
}
.blink-right{
  animation: blinkcloud-right 1.5s infinite alternate
}

@keyframes blinkcloud-left {
    from {
        border-left: .75vw solid transparent;
    }
    to {
        border-left: .75vw solid white;
    }
}
@keyframes blinkcloud-right {
    from {
        border-right: .75vw solid transparent;
    }
    to {
        border-right: .75vw solid white;
    }
}


.cloud-left{
    transform:translate(-100%,0);
    transition:.5s;
}
.cloud-right{
    transform:translate(100%,0);
    transition:.5s;
}
.cloud::before,
.cloud::after {
  content: '';
  position:absolute;
  background-color: white;
  z-index: 1; /* Ensure they appear above the main cloud body */
}




/* --------------------------------------- cloud --------------------------------------- */



/* --------------------------------------- media query --------------------------------------- */
/* media query portrait mobile (width) */
@media screen and (max-width:1010px) {
    .alone{
        text-align:center;
        align-items: center;
    }
    .hands {
    background-size:contain;
    background-position:unset;

    }
    .justify-content-important {
        justify-content: center !important;
    }
    .section-subheader>h2{
        font-size:24pt
    }
    #home{
    display:flex;
    flex-direction:column;
    align-items: end;
    padding:0 .75rem;
    justify-content: end;
    opacity:1 !important;
    margin-top:7.25rem;
}

#problem {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-template-areas:"c a"
                        "b b";
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c;
    display:none; }

 .section-col>.description>p {
    text-align: left;
}
.section-col{
    height:100%;
    padding:.75rem .5rem;
    width:100% !important;
}
#counsel {
    transform:translate(0,13.5px) !important;
}
    .target-link{
        /* color: var(--col-primary) !important; */
        color: var(--col-tertiary) !important;
        border-bottom:4.5px solid var(--bg-secondary);
        /* background:var(--bg-tint) !important; */
    }

    #logo-link>img{
        height:67px;
        width:120px;
        transform:scale(.95);
    }
    body {
        padding:0 .5rem;
    }
    .learn-more-config{
        left:unset;
        right:25px;
        bottom: 50px;
        top:unset;
    }
    .learn-more {
    padding:.75rem .88rem;
    border-radius: 16px;
    border:none;
    font-family:var(--font-header);
    font-size:16pt;
}
    #nav{
        display:none;
    }
    #nav-mobile{
        display:block;
        width:100%;
        top:110px;
        z-index:999;
        border:2px solid var(--bg-tint)
    }
    .relative-nav{
        position:relative;
    }
    .fixed-nav{
        position:fixed;
        left:0;
    }
    #nav-mobile>#nav-mobile-list-container{
        display:flex;
        flex-direction:column;
        width:100%;
        gap:.5px;
        background:#fff;
    }

    .nav-mobile-list-link {
        transition:.25s;
        width:100%;
        text-align: center;
        font-family:var(--font-secondary);
        font-size:12pt;
        background:var(--bg-shade);
        color:var(--col-secondary);
        padding:16px 0;
        color:silver;
    }
    .squish-link {
        padding:.75rem 0 !important;
    }
    .nav-mobile-list-link:hover{
        cursor:pointer;
        background:var(--bg-tint);
        color:var(--col-primary);
    }
    #img-pro{
        top:unset;
        left:unset;
        top:80px;
        right:10px !important;
        /* border-radius: 20px 0 0 20px; */
        height:268px;
        width:205px;
    }

    #hamburger-container{
        display:block;
        position:absolute;
        top:0px;
        right:12px;
        background:transparent;
        height:50px;
        width:50px;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:5px;
        transition: .2s;
    }
    #hamburger-container:hover{
        cursor:pointer;
        transform:scale(.97)
    }
    .hamburger-span{
        width:66%;
        height:5px;
        transition: .25s;
    }
    .disabled{
        background:#FF69B4;
    }
    .enabled {
        background:var(--col-tertiary);
    }

    .s1-rotate{
        transform:translate(0,10px) rotate(-45deg);
    }
    .s2-disappear{
        opacity:0;
        pointer-events: none;
        transform:translate(-100px,0);
    }
    .s3-rotate{
        transform:translate(0,-10px) rotate(45deg);
    }

    .slogan-actual-top,
    .slogan-actual-bottom{
        font-size:12pt;
    }
    #home{
        align-items:start;
        justify-content:end;
    }
     #cover-phrase-container{
        width:66%;
        margin-bottom:2.25rem;
        align-items:end;
     }
    #cover-phrase{
        text-align:start;
        font-size:26pt !important;
        margin-bottom:3rem;
    }
    .italic-word {
        font-size:35px;
    }
    #cert{
        text-align: left;
    }
}
@media screen and (max-width: 695px) {
    /* .hands {
        background-size:contain;
    } */
    #problem{
        display:flex;
        flex-direction: column;
        align-items: end;
    }
    .section-subheader>h2{
        font-size:21pt;
    }
    #services > .section-subheader{
        display:block;
}
    #problem>.section-col{
        width: 90% !important;;
    }
    .section-col>.description>p {
        text-align: left;
    }
    #services > #column-container {
        grid-template-columns: 1fr;
    }
    .alone,.take-action{
        flex-direction: row;
        align-items: center;
        gap:.6rem;
    }
    .servicing{
        justify-content: center;
        align-items: center;
    }
    .alone{
        justify-content: start;
    }
    .take-action{
        justify-content: end;
    }

}
@media screen and (max-width: 531px) {

    #services {
        height:1000px;
    }
    #certification{
    font-family: var(--font-header);
    letter-spacing: 1.15px;
    font-size:9pt;
    width:50%;
    min-width:200px;
    position:absolute;
    top:88px;
    left:5px;
    }
    .problem-col{
        width:98%;
    }
    .about-bg{
        background-size:85%;
        background-attachment:relative !important;
    }
    .learn-more-config{
        right:unset;
        bottom:245px;
        left:25%;
    }
    #home {
        justify-content: start;
        align-items:end;
        margin-top:9.25rem !important;
    }
    #cover-phrase{
        text-align:start;
        font-size:16pt !important;
        margin-bottom:3rem;
    }
    #cover-phrase-container{
        width:100%;
        margin-bottom:unset;
        margin-top:2.25rem;
    }
    #img-pro{
        height:225px;
        width:168px;
        transform:scale(.90);
        top:30%;
    }
    #nav-mobile{
        top:120.5px;
    }
    .fixed-nav{
        position:fixed;
        left:0;
        top:105px !important;
    }
    .cloud {
    width:88%;
}

}
@media screen and (max-width: 390px) {

#problem>.section-col{
        width:100% !important;
    }
.servicing{
    font-size:16pt !important;
}

#nav-mobile{
        top:143.5px;
    }
.fixed-nav{
    position:fixed;
    left:0;
    top:140px !important;
}

}


/* landscape phone */
@media screen and (max-width:1000px) and (max-height:500px){
        #cover-phrase{
        text-align:left;
        font-size:21pt !important;
        margin-bottom:3rem;
    }
    .cloud-container{
        flex-wrap: nowrap;
        padding:5px 0;
    }
    .hands {
        background-size: cover;
        background-position: 0;
    }
    .alone {
        transform: translate(0,15px);
    }
    .section-col>.description>p {
        font-size:14pt;
    }
    #nav-mobile{
        top:85.5px;
    }
    .fixed-nav {
        top:78px !important;
    }

    #home {
        margin-top:6rem;
    }
    header {
        min-height:70px !important;
        max-height:70px !important;
        height:70px !important;
    }
     #logo-link{
        flex-direction: row;
        align-items: end;
        justify-content: start;
        /* border:2px solid red; */
    }
    #logo-link>em{
        font-size:16pt;
    }
    #logo-link>img{
        height:50px;
        width:80px;
    }
     #img-pro{
        height:155px;
        width:120px;
    }
    .nav-mobile-list-link {
        padding:12px 0;
    }
}

/* --------------------------------------- media query --------------------------------------- */


