*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./font/Merriweather-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
    font-family: 'Merriweather-italic';
    src: url('./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf');
}

/* background  colors */
:root{
    --bg-primary:lightblue;
    --bg-secondary:gold;
    --bg-tertiary:#f00;
    --bg-tint:#fff;
    --bg-shade:#000;
}

/* colors */
:root{
    --col-primary:#000;
    --col-secondary:#fff;
    --col-tertiary:var(--bg-secondary);
}
/* fonts */
:root {
    --font-header:'Merriweather',Arial, Helvetica, sans-serif;
    --font-header-italic:'Merriweather-italic', Arial, Helvetica, sans-serif !important;
}

body{
    background-color:var(--bg-primary);
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    justify-content: center;
}

main{
    height:100%;
    width:100%;
    border:4px solid var(--bg-secondary);
}

#home{
    display:flex;
    flex-direction:column;
    align-items: end;
    padding:0 .75rem;
    justify-content: end;
    opacity:1 !important;
}
.section-gen{
    border:2px solid cyan;
    transition:.5s;
    height:100%;
    width:100%;
    overflow: hidden;
    position:relative;
    margin-top:.95rem;
    opacity:0;
}

.appear-section {
  opacity:1;
}


#cover-phrase-container{
    width:60%;
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
#cover-phrase{
    color:#fff;
    z-index: 999;
    font-size:42pt;
    min-width:300px;
    max-width:700px;
    text-align: right;
    font-family:var(--font-header);
    letter-spacing:.95px;
    margin-bottom:5rem;
}
#cover-phrase>p{
    display:inline;
}

.italic-word {
    font-size:55px;
    color:var(--col-tertiary);
    font-family: var(--font-header-italic)
}

footer,header{
    height:95px;
    border:2px solid red;
    width:100%;
}

footer {
    /* position:absolute; */
    /* left:0;
    bottom:0; */
}
/* ---------------- header/navigation ---------------- */
#nav{
    width:75%;
    height:75px;
    border:2px solid red;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right:.25rem;
    right:0;
    top:0;
}
#hamburger-container{
    display:none;
}
#nav > #nav-list-container{
    display:flex;
    justify-content: center;
    align-items: end;
    padding: 0 0 .5rem 0;
}
.nav-list-item>a{
    padding:.5rem 1.5rem;
    margin-left:5px;
    background:silver;
}
/* ---------------- header/navigation ---------------- */



/* ---------------- attention getter ---------------- */
/* profile image */

#img-pro{
    transition:.5s;
    position:absolute;
    top:0;
    left:0;
    height:350px;
    width:270px;
    z-index: 999;
    border-radius: 50%;
    border:1rem solid var(--col-tertiary);
}
.slogan-actual-top,
.slogan-actual-bottom{
    width:100%;
    position:absolute;
    left:0;
    padding:.75rem .5rem;
    font-size:18pt;
    color:#fff;
    font-weight: bold;
    z-index: 998;
    background:#000;
    font-family:var(--font-header-italic)
}
.slogan-actual-bottom{
    bottom:0;
    border-top:.5px solid #fff;
    text-align: left;
}
.slogan-actual-top{
    top:0;
    /* border-bottom:.5px solid #fff; */
    text-align: right;
}

/* ---------------- attention getter ---------------- */


/* ---------------- main - rows ---------------- */



/* ---------------- main - rows ---------------- */

/* media query portrait mobile (width) */
@media screen and (max-width:1010px) {
    #logo-link>h1,#logo-link>h2{
        font-size:16pt;
    }
    body {
        padding:0 .5rem;
    }

    #nav{
        display:none;
    }
    #img-pro{
        top:unset;
        left:unset;
        top:50px;
        right:0 !important;
        /* border-radius: 20px 0 0 20px; */
        height:200px;
        width:155px;
        bordeR:8px solid var(--col-tertiary);
    }

    #hamburger-container{
        display:block;
        position:absolute;
        top:5px;
        right:12px;
        background:transparent;
        border:2px solid red;
        height:50px;
        width:50px;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:5px;
        transition: .2s;
    }
    #hamburger-container:hover{
        cursor:pointer;
        transform:scale(.97)
    }
    .hamburger-span{
        width:66%;
        height:5px;
        background:#000;
        transition: .25s;
    }

    .s1-rotate{
        transform:translate(0,10px) rotate(-45deg);
    }
    .s2-disappear{
        opacity:0;
        pointer-events: none;
        transform:translate(-100px,0);
    }
    .s3-rotate{
        transform:translate(0,-10px) rotate(45deg);
    }

    .slogan-actual-top,
    .slogan-actual-bottom{
        font-size:11pt;
    }
    #home{
        align-items:start;
        justify-content:end;
    }

    #cover-phrase{
        text-align:start;
        font-size:31pt !important;
        margin-bottom:3rem;
    }
    .italic-word {
        font-size:35px;
    }
}

@media screen and (max-width: 490px) {
    #cover-phrase{
    font-size:21pt !important;
}
    #cover-phrase{
        text-align:center;
        font-size:21pt !important;
        margin-bottom:3rem;
    }
    #cover-phrase-container{
        width:100%;
    }
}

@media screen and (max-width:1000px) and (max-height:500px){
        #cover-phrase{
        text-align:left;
        font-size:21pt !important;
        margin-bottom:3rem;
    }
}   