*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* background  colors */
:root{
    --bg-primary:lightblue;
    --bg-secondary:gold;
    --bg-tertiary:#f00;
    --bg-tint:#fff;
    --bg-shade:#000;
}

body{
    background-color:var(--bg-primary);
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    justify-content: center;
}

main{
    height:100%;
    width:100%;
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; */
    border:4px solid yellow;

}

#attention-container{
    height:55vh;
    width:100%;
    overflow: hidden;
    position:relative;
}

footer,header{
    height:95px;
    border:2px solid red;
    width:100%;
}
footer {
    position:absolute;
    left:0;
    bottom:0;
}
/* ---------------- header/navigation ---------------- */
#nav{
    width:75%;
    height:75px;
    border:2px solid red;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right:.25rem;
    right:0;
    top:0;
}
#hamburger-container{
    display:none;
}
#nav > #nav-list-container{
    display:flex;
    justify-content: center;
    align-items: end;
    padding: 0 0 .5rem 0;
}
.nav-list-item>a{
    padding:.5rem 1.5rem;
    margin-left:5px;
    background:silver;
}
/* ---------------- header/navigation ---------------- */



/* ---------------- attention getter ---------------- */
/* profile image */

#img-pro{
    transition:.5s;
    position:absolute;
    top:0;
    left:0;
    height:300px;
    width:234px;
    z-index: 999;
    /* border-radius: 0 20px 20px 0; */
}
.slogan-actual-top,
.slogan-actual-bottom{
    width:100%;
    position:absolute;
    left:0;
    padding:.75rem .5rem;
    font-size:18pt;
    color:#fff;
    font-weight: bold;
    z-index: 998;
    background:#000;
}
.slogan-actual-bottom{
    bottom:0;
    border-top:.5px solid #fff;
    text-align: left;
}
.slogan-actual-top{
    top:0;
    border-bottom:.5px solid #fff;
    text-align: right;
}

/* ---------------- attention getter ---------------- */


/* ---------------- main - rows ---------------- */



/* ---------------- main - rows ---------------- */

/* media query portrait mobile (width) */
@media screen and (max-width:1010px) {
    body {
        padding:0 .5rem;
    }

    #nav{
        display:none;
    }
    #img-pro{
        top:unset;
        left:unset;
        bottom:0;
        right:0 !important;
        /* border-radius: 20px 0 0 20px; */
        height:175px;
        width:135px;
    }

    #hamburger-container{
        display:block;
        position:absolute;
        top:5px;
        right:12px;
        background:red;
        height:50px;
        width:50px;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:5px;
        transition: .2s;
    }
    #hamburger-container:hover{
        cursor:pointer;
        transform:scale(.97)
    }
    .hamburger-span{
        width:66%;
        height:5px;
        background:#000;
        transition: .25s;
    }

    .s1-rotate{
        transform:translate(0,10px) rotate(-45deg);
    }
    .s2-disappear{
        opacity:0;
        pointer-events: none;
        transform:translate(-100px,0);
    }
    .s3-rotate{
        transform:translate(0,-10px) rotate(45deg);
    }
}
